<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% if page is defined and page != null %}
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <title>AddictedToVintage.nl</title>
    <meta name="description" content="" />
    {% endif %}
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="author" content="AddictedToVintage" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cleartype" content="on" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="google-site-verification" content="vF_eH79E8mCRkrxzMtoCFF9y_9sy9-4c5Gk8ZCtOPBA" />
	<meta name="beslist-site-verification" content="2595474ab3b2cc9b74c9c5e2b7e7f729" />
    
    {% if product is defined and product is not null %}
            <meta property="og:title" content="{{ product.name }}"/>
        {% if product.firstimage is defined and product.firstimage is not null %}
            <meta property="og:image" content="{{ url('_root') }}images/products/thumbs/{{ product.firstImage.name }}"/>
        {% else %}
            <meta property="og:image" content="{{ url('_root') }}images/products/thumbs/{{ product.images[0].name }}"/>
        {% endif %}
        <meta property="og:site_name" content="Addictedtovintage.nl"/>
        <meta property="og:description" content="{{ product.description }}"/>
    {% else %}
        <meta property="og:title" content="Addictedtovintage.nl"/>
        <meta property="og:image" content="{{ url('_root') }}images/facebooklogo.png"/>
        <meta property="og:site_name" content="Addictedtovintage.nl"/>
        <meta property="og:description" content="Online Vintage Tassen, Sieraden & Woonaccesoires"/>
    {% endif %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/ecommerce/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ecommerce/css/jqzoom.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ecommerce/fonts/stylesheet.css') }}" type="text/css" charset="utf-8">

        {% if app.environment == 'dev' %}
            <link href="{{ asset('bundles/ecommerce/less/app.less') }}" type="text/css" rel="stylesheet/less" />
        {% else %}
            <link href="{{ asset('bundles/ecommerce/css/app-min.css') }}" type="text/css" rel="stylesheet" />
        {% endif %}
    {% endblock %}

    {% block canonical %}
    {% endblock %}

    {% block prev_next %}

    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('bundles/ecommerce/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/ecommerce/ico/apple-touch-icon-114x114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/ecommerce/ico/apple-touch-icon-72x72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/ecommerce/ico/apple-touch-icon-57x57-precomposed.png') }}">

    <script src="{{ asset('bundles/ecommerce/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="fb-root"></div>
    <header>
        <div class="container">
            <div class="row-fluid">
		<div class="span5">
		    <a href="{{ path('_root') }}">
			<h1 class="site-brand">AddictedtoVintage.nl</h1>
			<p class="site-slogan hide">Online Vintage Tassen, Sieraden & Woonaccesoires</p>
		    </a>
		</div>
		<div class="span7">
		    <ul class="nav top-nav">
			{% if is_granted('ROLE_CLIENT') %}
			    <li><a rel="nofollow" href="{{ path('_account') }}"><i class="icon-user"></i> Account</a></li>
			{% else %}
			    <li><a rel="nofollow" href="{{ path('login') }}"><i class="icon-user"></i> Inloggen</a></li>
			{% endif %}
			<li><a rel="nofollow" href="{{ path('_root') }}contact"><i class="icon-envelope"></i> Contact</a></li>
			<li><a rel="nofollow" href="{{ path('_root') }}klantenservice"><i class="icon-question-sign"></i> Klantenservice</a></li>
		    </ul>
		</div>
            </div>
        </div>
    </header>

    <nav>
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                     {% render controller('AddictedtovintageBundle:Section:menu') %}
                </div>
            </div>
        </div>
    </nav>
    <div class="search">

        <div class="container">

            <div class="row-fluid">
                <div class="span4">
                    <form method="POST" action="{{ path('_search') }}">
                        <div class="input-append">
                            <input type="search"  data-provide="typeahead" autocomplete="off" class="typeahead span10" placeholder="Zoek een product... " value="" name="q">
                            <button type="submit" class="btn button-search"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="span6">
                    <p>
                        <span class="wonen"></span> 
                        <strong>Nieuw: Vintage Woonaccessoires!</strong> <br />
                        Met o.a.: <a href="{{ path('_subcategory', { 'section' : 'woonaccessoires', 'category': 'servies', 'subcategory' : 'vazen' }) }}">vazen</a>, <a href="{{ path('_subcategory', { 'section' : 'woonaccessoires', 'category': 'servies', 'subcategory' : 'borden' }) }}">borden</a>, <a href="{{ path('_subcategory', { 'section' : 'woonaccessoires', 'category': 'servies', 'subcategory' : 'schalen' }) }}">schalen</a> en nog veel meer!
                    </p>
                </div>    
                <div class="span2">
                    <div class="fb-like pull-right" data-href="https://www.facebook.com/Addictedtovintage.nl" data-layout="button_count" data-send="false" data-width="150" data-show-faces="false"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="span12" id="content-container">

                <div class="row-fluid">

                {% block sidebar %}
                    {% include 'AddictedtovintageBundle:Sidebar:index.html.twig' %}
                {% endblock %}

                {% block content %}
                {% endblock %}

                </div>
            </div>
        </div>
    </div>
        

    <div class="footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span4">

                            <div class="question-box">

                                <h4>Hulp nodig bij je bestelling?</h4>

                                <p>Stuur ons nu een email via het contactformulier, en we helpen je met het plaatsen van je bestelling.</p>
                                <p>Of lees de meest gestelde vragen in onze online klantenservice.</p>
                            </div>

                            <hr />
                            <p><b>Populaire zoektermen: <a href="{{ path('_page', { 'permalink' : 'vintage-leren-tassen' } ) }}" title="Vintage leren tassen">Vintage leren tassen</a></b></p>
                            {#
			    <hr />
			    
			    <small>
				<strong>Addictedtovintage</strong> <br />
				Verstolkstraat 28, 8933DZ Leeuwarden <br /> KVK: 50787098
			    </small>
			    #}
                        </div>

                        <div class="span4">
                            <h5>Klantenservice</h5>
                            <ul class="unstyled questions">
                                <li><i class="icon-question-sign"></i> <a rel="nofollow" href="{{ path('_page', { 'permalink' : 'kwaliteit' } ) }}">Wat is de kwaliteit van de producten?</a></li>
                                <li><i class="icon-question-sign"></i> <a rel="nofollow" href="{{ path('_page', { 'permalink' : 'betaalwijzen' } ) }}">Waarmee kan ik online betalen?</a></li>
                                <li><i class="icon-question-sign"></i> <a rel="nofollow" href="{{ path('_page', { 'permalink' : 'verzending-en-bezorging' } ) }}">Welke verzendmethodes kan ik kiezen?</a></li>
                                <li><i class="icon-question-sign"></i> <a rel="nofollow" href="{{ path('_page', { 'permalink' : 'retouren-en-service' } ) }}">Hoe kan ik mijn bestelling retourneren</a></li>
                                <li><i class="icon-question-sign"></i> <a rel="nofollow" href="{{ path('_page', { 'permalink' : 'veiligheid-en-privacy' } ) }}">Wat doen jullie aan veiligheid en privacy?</a></li>
                            </ul>
                        </div>
                        <div class="span4">
                            <div class="fb-like-box" data-href="http://www.facebook.com/addictedtovintagenl" data-width="292" data-show-faces="true" data-stream="false" data-header="false"></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row-fluid">
                <div class="span6">
                    <ul class="unstyled">
                        <li class="inline"><a rel="nofollow" href="{{ path('_sitemap') }}"><i class="icon-sitemap"></i> SiteMap</a></li>
                        <li class="inline"><a rel="nofollow" href="{{ path('_page', { 'permalink' : 'voorwaarden' } ) }}"><i class="icon-legal"></i> Voorwaarden</a></li>
                        <li class="inline"><a rel="nofollow" href="{{ path('_page', { 'permalink' : 'contact' } ) }}"><i class="icon-envelope"></i> Contact</a></li>
                        <li class="inline"><a href="https://plus.google.com/111274401763774016435" rel="publisher">Google+</a></li>
                        <li class="inline"><a href="https://twitter.com/VintageAddictNL">Twitter</a></li>
                    </ul>
                </div>
                <div class="span6">
                    <img class="pull-right" src="{{ asset('/bundles/ecommerce/img/multisafepay-footer.jpg') }}" alt="Betaalwijzen" />
                </div>    
            </div>
        </div>
    </div>
    
    {% block javascripts %}
                
        <script type="text/javascript"> less = { env: 'development' }; </script>

        <script type="text/javascript">

        var ROOT = '{{ path('_root') }}';
        var PATH_CART = '{{ path('_cart') }}';

            </script>

            <script src="{{ asset('bundles/ecommerce/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/jqzoom.js') }}"></script>

        {% if app.environment == 'dev' %}

            <script src="{{ asset('bundles/ecommerce/js/less.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-affix.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-typeahead.js') }}"></script>

            {# LOAD PLUGINS #}
            <script src="{{ asset('bundles/ecommerce/js/plugins/filter.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/plugins/social.js') }}"></script>

            {# LOAD APP #}
            <script src="{{ asset('bundles/ecommerce/js/app.js') }}"></script>
        {% else %}
            
            
            {# LOAD PLUGINS #}
            <script src="{{ asset('bundles/ecommerce/js/plugins/filter.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/plugins/social.js') }}"></script>
            
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-affix.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('bundles/ecommerce/js/bootstrap-typeahead.js') }}"></script>

            <script src="{{ asset('bundles/ecommerce/js/app-min.js') }}"></script>

        {% endif %}

    {% endblock %}

        <script type="text/javascript">

        var _gaq = _gaq || [];
        {% if app.debug %}
        _gaq.push(['_setAccount', 'UA-10334375-2']);
        {% else %}
        _gaq.push(['_setAccount', 'UA-10334375-1']);
        {% endif %}
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>

        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=455090604538684";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
            

        <div id="cartModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Verder winkelen</button>
                <a rel="nofollow" class="btn btn-primary" href="{{ path('_cart') }}">Naar winkelmandje</a>
            </div>
        </div>     
            
    <script type="text/javascript">
      (function() {
        var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/7c6da9b4-6593-43ba-b8c2-5e86c9da3b24.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
    </body>
</html>
