{% extends 'BKBundle::layout.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block canonical %}

    {% if show_canonical == true %}
        {# <link rel="canonical" href="{{ url('_product_shortcut', { 'product' : product.permalink} ) }}"/> #}
    {% endif %}  
        
{% endblock %}

{% block content %}

<div class="span12">
    
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb">
        <a href="{{ url('_root') }}" itemprop="url" title="Addictedtovintage">
            <span itemprop="title">Addictedtovintage</span>
        </a> &rsaquo;
        
        <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ url('_section', { 'section' : section.permalink } ) }}" itemprop="url" title="{{section.name}}">
                <span itemprop="title">{{section.name}}</span>
            </a> &rsaquo;
            
            <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ url('_category', { 'section' : section.permalink, 'category' : category.permalink } ) }}" itemprop="url" title="{{category.name}}">
                    <span itemprop="title">{{category.name}}</span>
                </a> &rsaquo;
                
                <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="{{ path('_subcategory', { 'section' : section.permalink, 'category' : category.permalink , 'subcategory' : subcategory.permalink } ) }}" itemprop="url" title="{{subcategory.name}}">
                        <span itemprop="title">{{subcategory.name}}</span>
                    </a> &rsaquo;
                    
                    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="{{ path('_product', { 'section' : section.permalink, 'category' : category.permalink , 'subcategory' : subcategory.permalink, 'product' : product.permalink } ) }}" itemprop="url" title="{{product.name}}">
                            <span itemprop="title">{{product.name}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product checkout-well" itemscope itemtype="http://data-vocabulary.org/Product">
        
        <meta itemprop="brand" content="Addictedtovintage.nl" />

        <div class="row-fluid">
            <div class="span8">
                <div class="product_image">
                    {% if product.firstImage is not null %}
                        <img itemprop="image" src="{{ product.firstImage.path}}" title="{{ product.name }}"  alt="{{ product.name }}" />
                    {% else %}
                        <img itemprop="image" src="{{ product.images[0].path}}" title="{{ product.name }}"  alt="{{ product.name }}" />
                    {% endif %}
                </div>

                <hr />    
                
                <ul class="thumbnails">
                    
                {% for image in product.images %}
                    <li>
                        <a href="javascript:void(0)" class="thumbnail">
                            <img width="80" src="{{ image.thumbpath }}" alt="{{ product.name }} thumb" title="{{ product.name }}" />
                        </a>
                    </li>                    
                {% endfor %}
                    
                </ul>    
                
                <hr />
                    
            </div>

            <div class="span4">
                
                <h1 itemprop="name">{{ product.name }}</h1>
                
                <hr />            
                
                <p class="description" itemprop="description">{{ product.description }}</p>
                
                
                
                <div class="product_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                    <meta itemprop="condition" content="used" />
                    <meta itemprop="currency" content="EUR" />

                    {% set count =  product.stock %}
                    
                    {% if product.isSale == 1 %}
                    
                        {% set price = product.price %} 
                        {% set price = price - (price / 100 * sale_discount) %}

                        <p>Normale prijs: &euro; <span style="text-decoration: line-through" itemprop="price" class="price">{{ product.price|number_format(2, ',', '.') }}</span></p>
                        <p>Sale prijs: &euro; <span style="color: #fe2a2a;" itemprop="price" class="price">{{ price|number_format(2, ',', '.') }}</span> ({{ sale_discount}}% korting)</p>

                    {% else %}
                        <p>Prijs: &euro; <span itemprop="price" class="price">{{ product.price|number_format(2, ',', '.') }}</span></p>
                    {% endif %}
                    
                    
                    <p>Aantal op voorraad: <strong>{{ count }} op voorraad</strong>
                    
                    {% if product.stock == 0 %}
                        <meta itemprop="availability" content="out_of_stock" />

                        <select name="stock">
                            <option value="0">Uitverkocht!</option>
                        </select>
                    
                    {% else %}
                        <meta itemprop="availability" content="in_stock" />

                        <select name="stock">
                            {% for i in range(1, count)  %}
                                <option value="{{ i }}">{{ i }} x</option>
                            {% endfor %}
                        </select>

                        <a href="javascript:void(0)" onclick="javascript:add_to_cart('{{ product.id }}');" class="btn btn-block btn-primary">In Winkelmandje</a>
                        
                    {% endif %}

                    {#
                    <div class="product_select_attributes">

                    {% for attribute in product.attributes %}
                        <label>{{ attribute.attribute.name }}</label>
                        <select>
                            <option value="">Selecteer een optie..</option>
                            {% for key,attribute in attribute_values %}
                            <option value="{{ key }}">{{ attribute}}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                    
                    </div>
                    #}

                    <div class="clearfix"></div>
                    
                    {# <a href="javascript:void(0)" onclick="javascript:add_to_list('{{ product.id }}');" class="btn btn-small pull-right"><i class="icon icon-star"></i> Voeg toe aan verlanglijstje</a> #}

                </div>

                <hr />

               <div class="product_attributes">

                    <ul class="unstyled">
                    {% for attribute in product.attributes %}

                        {% if attribute.attribute.id == '2' %}
                            
                            <li><strong>{{ attribute.attribute.name }}:</strong>
                                
                            {% set x = 0 %}    
                            {% for i in 1..attribute.attributeValue %} 
                                <i class="icon-star"></i>
                                
                                {% set x = (x + 1) %}
                            {% endfor %}   
                             
                            {% if attribute.attributeValue < 5 %}    
                                
                                {% set total = (5 - x) %}

                                {% for i in 1..total%} 
                                    <i class="icon-star-empty"></i>
                                {% endfor %}   
                                    
                            {% endif %}   
                            </li>
                            
                        {% else %}
                            <li><strong>{{ attribute.attribute.name }}:</strong> {{ attribute.attributeValue|capitalize }}</li>
                        {% endif %}

                    {% endfor %}
                    </ul>

                </div>

                <hr />

                <div class="product_info">

                    <ul class="unstyled">
                        <li><span>Artikelnummer:</span> <i itemprop="identifier" content="sku:{{ product.sku }}">{{ product.sku }}</i></li>
                        <li><span>Levertijd:</span> 1 -3 werkdagen</li>
                        <li><span>Verzendwijze:</span> {{ product.shippingtype.name }}</li>
                        <li itemprop="category" content="{{ section.name }} > {{ category.name }} > {{ subcategory.name }}">&rsaquo;&rsaquo; <a href="{{ url('_subcategory', { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : subcategory.permalink} ) }}">Bekijk meer {{ subcategory.name }}</a></li>
                    </ul>

                </div>

                <hr />
                
                <img src="{{ asset('bundles/biologischekaas/img/multisafepay.jpg') }}" />

            </div>

        </div>
        
    </div>
    
    <br />
        

    <div class="checkout-well">
    {% if related_products is defined and related_products is not null %}
        <div class="row-fluid">

            <div class="span12">

            <h3>Ook iets voor jou?</h3>

            <ul class="unstyled">

                {% for related_product in related_products %}
                    <li class="span3">
                        {% include 'BKBundle:Category:product.html.twig' with {'product': related_product, 'subcategory': subcategory,'category': category} %}
                    </li>
                {% endfor %}
            </ul>

            </div>
        </div>

    {% endif %}
    </div>
    
</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
