
<div class="span3" id="sidebar">
        
    {% if section is defined %}                    
        {% if section is not null %}                    
    
        <div class="checkout-well">

        <ul class="unstyled">

        {% for single_section in sections %}
            {% if section.id == single_section.id %}
                <li>
                    <ul class="nav nav-list">
                        <li class="nav-header">&darr; Categorie&euml;n</li>
                        
                        {% if category is defined %}
                        
                            <li class="active">
                                <a href="{{ path('_category', { 'section' : section.permalink, 'category' : category.permalink }) }}">
                                    <i class="icon-arrow-right"></i> {{ category.name }}
                                </a>
                            </li>  
                            
                            {% for single_category in section.categories %}
                                {% if single_category.id != category.id  and single_category.active == 1%}
                                    <li>
                                        <a href="{{ path('_category', { 'section' : section.permalink, 'category' : single_category.permalink}) }}">
                                            {{ single_category.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for single_category in section.categories %}
                                {% if single_category.active == 1%}
                                    <li>
                                        <a href="{{ path('_category', { 'section' : section.permalink, 'category' : single_category.permalink}) }}">
                                            {{ single_category.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <br />
                    <ul class="nav nav-list">
                        <li class="nav-header">&darr; Subcategorie&euml;n</li>
                        
                        {% if subcategory is defined %}
                            <li class="active">
                                <a href="{{ path('_subcategory', { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : subcategory.permalink }) }}">
                                    <i class="icon-arrow-right"></i> {{ subcategory.name }} <span class="pull-right product_count">({{ subcategory.productCount }})</span>
                                </a>
                            </li>  
                            
                            {% if category is defined %}
                            
                                {% for single_subcategory in category.subcategories %}
                                    {% if single_subcategory.id != subcategory.id %}
                                        {% if single_subcategory.active and single_subcategory.productCount > 0%}
                                        <li>
                                            <a href="{{ path('_subcategory', { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : single_subcategory.permalink }) }}">
                                                {{ single_subcategory.name }} <span class="pull-right product_count">({{ single_subcategory.productCount }})</span>
                                            </a>
                                        </li>   
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            
                            {% else %}
                                {% for category in section.categories %}
                                    {% for single_subcategory in category.subcategories %}
                                        {% if single_subcategory.id != subcategory.id %}
                                            {% if single_subcategory.active and single_subcategory.productCount > 0%}
                                            <li>
                                                <a href="{{ path('_subcategory', { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : single_subcategory.permalink }) }}">
                                                    {{ single_subcategory.name }} <span class="pull-right product_count">({{ single_subcategory.productCount }})</span>
                                                </a>
                                            </li>   
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            
                        {% else %}
                            
                            {% if category is defined %}
                            
                                {% for single_subcategory in category.subcategories %}
                                    {% if single_subcategory.active and single_subcategory.productCount > 0%}
                                    <li>
                                        <a href="{{ path('_subcategory', { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : single_subcategory.permalink }) }}">
                                            {{ single_subcategory.name }} <span class="pull-right product_count">({{ single_subcategory.productCount }})</span>
                                        </a>
                                    </li>   
                                    {% endif %}
                                {% endfor %}
                            
                            {% else %}
                                {% for category in section.categories %}
                                    {% for single_subcategory in category.subcategories %}
                                        {% if single_subcategory.active and single_subcategory.productCount > 0%}
                                            <li>
                                                <a href="{{ path('_subcategory', { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : single_subcategory.permalink }) }}">
                                                    {{ single_subcategory.name }} <span class="pull-right product_count">({{ single_subcategory.productCount }})</span>
                                                </a>
                                            </li>   
                                        {% endif %}
                                            
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>          
    
        {% endif %}

    {% else %}

        <h1>&nbsp;</h1>

        <div class="checkout-well">

            <h3>Bezorgwijze</h3>

            <p>Al onze bestellingen worden verzonden door PostNL.</p>

            <img src="{{ asset('/bundles/biologischekaas/img/postnl.jpg') }}" />
        </div>

        <hr />

        <div class="checkout-well">

            <h3>Veilig betalen</h3>

            <p>Al onze betalingen worden behandeld door MultisafePay. Door middel van een beveiligde verbinding worden al je gegevens beveiligd verzonden & opgeslagen.</p>

            <img src="{{ asset('/bundles/biologischekaas/img/multisafepay.jpg') }}" />

        </div>

    {% endif %}
    
        
        
        {% if productfilter is defined %}

            {% if attributes is defined %}
            
            <hr />
            
            <div class="checkout-well">
        
                {% if attributes|length > 0 %}
                    {% for attribute in attributes %}
                        {% if attribute_values[attribute.id] is defined %}
                
                        <strong>&darr; {{ attribute.name }}</strong>
                        <div class="filter-container">
                            <ul class="nav nav-list filter">
                                {% if attribute_values[attribute.id]|length > 0 %}
                                    {% for attribute_value in attribute_values[attribute.id] %}
                                        <li>
                                            <input {% if attribute_value in productfilter.attributevalues %} checked="checked" {% endif %} class="filter_checkbox" rel="{{ attribute.id }}" value="{{ attribute_value }}" type="checkbox" />
                                            
                                            <a href="javascript:void(0)" onclick="javascript:check_filter_box(this)">
                                                {{ attribute_value }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}	
                            </ul>
                        </div>
                            <br />
                        {% endif %}	
                    {% endfor %}	
                {% endif %}	
                            
                {% if productfilter.attributes|length > 0 %}
                    <a href="javascript:void(0)" onclick="javascript:reset_filter()" class="btn btn-block btn-small"><i class="icon-remove"></i> Verwijder filter</a>
                {% endif %}
                            
            </div>
            
            {% else %}
            
            <hr />
                            
            <div class="checkout-well">

                <h3>Bezorgwijze</h3>

                <p>Al onze bestellingen worden verzonden door PostNL.</p>

                <img src="{{ asset('/bundles/biologischekaas/img/postnl.jpg') }}" />
            </div>

            <hr />
                            
            <div class="checkout-well">

                <h3>Veilig betalen</h3>

                <p>Al onze betalingen worden behandeld door MultisafePay. Door middel van een beveiligde verbinding worden al je gegevens beveiligd verzonden & opgeslagen.</p>

                <img src="{{ asset('/bundles/biologischekaas/img/multisafepay.jpg') }}" />

            </div>
                            
            {% endif %}	

        {% endif %}
                            
    
</div>
