{% extends 'AddictedtovintageBundle::layout.html.twig' %}

{% block banner %}
    {% include 'AddictedtovintageBundle:Banner:index.html.twig' %}
{% endblock %}

{% block canonical %}
    {% if current_page > 0 %}
	<link rel="canonical" href="{{ url('_category', { 'section' : section.permalink, 'category' : category.permalink } ) }}"/>
    {% endif %}
{% endblock %}

{% block content %}
	
<div class="span9">
    
    <div class="row-fluid">
    
        <div class="span12">
            <h1>{{page.pageTitle}} <span class="product_count">( {{ total_products }} producten )</span></h1>
            {{ page.content|raw }}
            <hr />
            
            {% if productfilter is defined %}

            <div class="pull-right" style="margin: 3px 10px 0px 5px;">
                <select name="sortby" id="sortby" style="width: 140px;">
                    <option {% if productfilter.sortby == 'NEWEST_FIRST' %} selected="selected" {% endif %} value="NEWEST_FIRST">Nieuwste eerst</option>
                    <option {% if productfilter.sortby == 'PRICE_HIGH_LOW' %} selected="selected" {% endif %} value="PRICE_HIGH_LOW">Prijs: Hoog - Laag</option>
                    <option {% if productfilter.sortby == 'PRICE_LOW_HIGH' %} selected="selected" {% endif %} value="PRICE_LOW_HIGH">Prijs: Laag - Hoog</option>
                    <option {% if productfilter.sortby == 'NAME_A_Z' %} selected="selected" {% endif %} value="NAME_A_Z">A - Z</option>
                    <option {% if productfilter.sortby == 'NAME_Z_A' %} selected="selected" {% endif %} value="NAME_Z_A">Z - A</option>
                </select>
            </div>

            <div class="pull-right" style="margin: 3px 5px 0px 5px;">
                <select name="max_results" id="max_results" style="width: 140px;">
                    <option {% if productfilter.maxResults == '15' %} selected="selected" {% endif %} value="15">15 producten</option>
                    <option {% if productfilter.maxResults == '30' %} selected="selected" {% endif %} value="30">30 producten</option>
                    <option {% if productfilter.maxResults == '60' %} selected="selected" {% endif %} value="60">60 producten</option>
                    <option {% if productfilter.maxResults == '120' %} selected="selected" {% endif %} value="120">120 producten</option>
                    <option {% if productfilter.maxResults == '99999' %} selected="selected" {% endif %} value="99999">Alle</option>
                </select>
            </div>

            {% endif %}
            
            
            <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb">
                <a href="{{ url('_root') }}" itemprop="url" title="Addictedtovintage">
                    <span itemprop="title">Addictedtovintage</span>
                </a> &rsaquo;

                <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="{{ url('_section', { 'section' : section.permalink } ) }}" itemprop="url" title="{{section.name}}">
                        <span itemprop="title">{{section.name}}</span>
                    </a> &rsaquo;

                    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="{{ url('_category', { 'section' : section.permalink, 'category' : category.permalink } ) }}" itemprop="url" title="{{category.name}}">
                            <span itemprop="title">{{category.name}}</span>
                        </a> &rsaquo;
                    </div>
                </div>
            </div>

            
           
            <hr />
            
            <div class="row-fluid">
                    <ul class="category_products unstyled span12">

                        {% set x = 1 %}

                        {% for product in products %}
                        
                            {% set subcategory = product.subcategories[0] %}
                            {% set category = subcategory.categories[0] %}

                            <li class="span4">
                                {% include 'AddictedtovintageBundle:Category:product.html.twig' with {'product': product} %}
                            </li>

                            {% if x == 3 %} 

                                {% set x = 0 %}

                                </ul>
                                </div>
                                <div class="row-fluid">
                                    <ul class="category_products unstyled span12">

                            {% endif %}

                            {% set x = x + 1 %}

                        {% endfor %}
                    </ul>
            </div>
            
            {{ paginator|paginate }}
            
        </div>
        
    </div>

</div>
    

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}