{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">

    <div class="span12">
        
        <a class="btn btn-danger pull-right" style="margin-right: 10px"><i class="icon-white icon-trash"></i> Verwijderen</a>

        <h1>{{ category.name }}</h1>
        
        <form action="" class="form-horizontal client-form" name="productform" method="post" {{ form_enctype(category_form) }}>

            {{ form_errors(category_form) }}
            
            <div class="control-group">
                {{ form_label(category_form.name, '', { 'label_attr': {'class': 'control-label'} }) }}
                    
                <div class="controls">
                    {{ form_widget(category_form.name) }}
                </div>
            </div>
            
            <div class="control-group">           
                {{ form_label(category_form.active, '', { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(category_form.active) }}
                </div>
            </div>
            
            
            <div class="control-group">           
                {{ form_label(category_form.permalink, '', { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(category_form.permalink) }}
                </div>
            </div>
            
            <div class="control-group">           
                {{ form_label(category_form.keywords, '', { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(category_form.keywords) }}
                </div>
            </div>
            
            <div class="control-group">           
                {{ form_label(category_form.description, '', { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(category_form.description) }}
                </div>
            </div>
            
            <div class="control-group">           
                {{ form_label(category_form, 'Categorie', { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(category_form.sections, { 'attr' : { 'class' : 'checkbox' } } ) }}
                </div>
            </div>
            
            {{ form_rest(category_form) }}
            
            <a class="btn btn-primary" href="javascript:void(0)" onclick="document.productform.submit()"><i class="icon-white icon-ok"></i> Opslaan</a>

        </form>


    </div>

</div>


<div class="row-fluid">
    
    <div class="span12">
        
    </div>
    
</div>
</form>
{% endblock %}

