{% extends 'EcommerceBundle::layout.html.twig' %}

{% block sidebar %}

{% endblock%}

{% block content %}

{% set total = cart.totalPriceInc + cart.shipping.costs %}


<div class="row-fluid">
    <div class="span3">
        <h1>Afrekenen</h1>
    </div>
    <div class="span9">
        <ul class="unstyled checkout_steps">
            <li class="checked">Persoonlijke gegevens <i class="icon-check"></i></li>
            <li class="checked">Bezorgwijze <i class="icon-check"></i></li>
            <li class="checked">Betaalmethode <i class="icon-check"></i></li>
            <li class="active">Bestelling plaatsen <i class="icon-arrow-right"></i></li>
        </ul>
    </div>    
</div>

<hr />

<div class="row-fluid">
<form name="checkout_form" id="checkout_form" action="{{ path('_checkout') }}" method="POST" class="form-horizontal">

    <div class="span12">
        
        <div class="row-fluid">
            
            <div class="span6">
                
                <div class="checkout-well">
        
                    <div class="row-fluid">

                        <div class="span6">

                            <h3><i class="icon-user"></i> Adres</h3>

                            <strong>{{ client.name }}</strong> <br />
                            <p>{{ client.address }} <br />
                            {{ client.zipcode }} {{ client.location }} <br />
                            {{ client.country }}</p>
                                
                            <a class="btn btn-small btn-block" href="{{ path('_checkout') }}"><i class="icon-pencil"></i> Wijzigen</a>
                        </div>

                        <div class="span6">

                            <h3><i class="icon-user"></i> Bezorgadres</h3>

                            <strong>{{ client.name }}</strong> <br />
                            <p>{{ client.shippingAddress }} <br />
                            {{ client.shippingZipcode }} {{ client.shippingLocation }} <br />
                            {{ client.shippingCountry }}</p>
                            
                            <a class="btn btn-small btn-block" href="{{ path('_cart_shipping') }}"><i class="icon-pencil"></i> Wijzigen</a>

                        </div>

                    </div>
                    
                    <hr />
                    
                    <h3><i class="icon-list-alt"></i> Producten</h3>
                    
                    <div class="row-fluid">
                        <div class="span12">
                            <table width="100%" cellpadding="2" cellspacing="1" class="table table-striped cart">
                                <thead>
                                    <tr>
                                        <th width="10%"></th>
                                        <th width="30%">Product</th>
                                        <th width="20%">Prijs</th>
                                        <th width="20%" align="right">Totaal</th>
                                    </tr>
                                </thead>

                                <tbody>

                                {% for item in cart.products %}

                                {% set productTotal = item.amount * item.price %}
                                {% set product = item.product %}
                                    <tr>
                                        {% if product.firstImage is not null %}
                                        <td><img style="width: 75px; border: 1px solid #ddd;" src="{{ product.firstImage.thumbpath }}" alt="{{ item.product.name }}" title="{{ item.product.name }}" /></td>
                                        {% else %}
                                        <td><img style="width: 75px; border: 1px solid #ddd;" src="{{ product.images[0].thumbpath }}" alt="{{ item.product.name }}" title="{{ item.product.name }}" /></td>
                                        {% endif %}
                                        <td><a href="#" class="product">{{ item.product.name }}</a> <br /> <small>{{ item.product.description|slice(0, 80) }}...</small></td>
                                        <td>{{ item.amount }} x &euro; {{ item.price|number_format(2, ',', '.') }}</td>
                                        <td align="right">&euro; {{ productTotal|number_format(2, ',', '.') }}</td>
                                    </tr>

                                {% endfor %}

                                    <tr>
                                        <td colspan="4">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2">Korting:</td>
                                        <td>- &euro; <span id="total_discount">{{ discount }}</span></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td colspan="2">Totaalbedrag artikelen:</td>
                                        <td>&euro; <span id="cart_products_total">{{ cart.totalPriceInc|number_format(2, ',', '.') }}</span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="2">Totaalbedrag verzend/verwerkingskosten:</td>
                                        <td>&euro; <span id="cart_shipping_total">{{ cart.shipping.costs|number_format(2, ',', '.') }}</span></td>
                                    </tr>

                                    {% set total = cart.totalPriceInc + cart.shipping.costs %}

                                    <tr>
                                        <td></td>
                                        <td colspan="2"><h4>Totaalbedrag:</h4></td>
                                        <td><h4>&euro; <span id="cart_total">{{ total|number_format(2, ',', '.') }}</span></h4></td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="span6">
                <div class="checkout-well">
                    
                    <div class="row-fluid">    
                        <div class="span12">
                            <h3><i class="icon-truck"></i> Bezorgwijze</h3>
                            <p>
                                Je bestelling word op <strong>{{ next_delivery_date|date('D')|DayConvert }}</strong> ({{ next_delivery_date|date('d-m-Y') }}) geleverd d.m.v. <strong>{{ cart.shipping.name }}</strong>{% if cart.shipping.shippingType.id == 1 %}, je krijgt van ons nog een e-mail met een Track&Trace-code waarmee je het pakket kan volgen.{% endif %}
                            </p>

                            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ client.shippingAddress }},{{ client.shippingLocation }}&markers=color:green%7C{{ client.shippingAddress }}+{{ client.shippingLocation }}\&zoom=14&size=600x180&maptype=roadmap&sensor=false" />

                            {% if paymethod.id != 14 %}
                            
                                <hr />

                                <div class="alert alert-block alert-error" style="margin-bottom: 0px;">
                                    <i class="icon-exclamation-sign"></i> <strong>Let op:</strong> Je bestelling wordt pas verzonden wanneer deze is betaald!
                                </div>
                            
                            {% endif %}
                            
                        </div>
                    </div>

                    <hr />
                    
                    <h3><i class="icon-money"></i> Betaalmethode</h3>

                    <div class="row-fluid">    
                        <div class="span12">
                            
                            <img src="{{ asset('/bundles/ecommerce/img/pay/' ~ paymethod.id ~ '.jpg') }}" class="paymethod_logo" /> 
                            
                            <h4>{{ paymethod.title }}</h4>
                            <p>{{ paymethod.description }}</p>
                        </div>
                    </div>
                    
                    <hr />

                   {# <label>
                       <input type="checkbox" name="client_newsletter" value="1" /> Ja, ik wil af en toe een nieuwsbrief ontvangen met aanbiedingen en kortingscodes 
                   </label> #}

                   <label>
                       <input type="checkbox" name="conditions" value="1" /> Ja, ik ga akkoord met de algemene voorwaarden
                   </label>
                    
                    <hr />
                    
                    <a href="javascript:void(0)" onclick="javascript:validateCheckout()" class="pull-right btn btn-large btn-primary"><i class="icon-white icon-ok"></i> Bestelling plaatsen</a>
                    
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
    </div>

</div>

</form>    
        
</div>

{% endblock %}
