{% extends 'AVBundle::layout.html.twig' %}

{% block sidebar %}

    {% include 'AVBundle:Sidebar:index.html.twig' %}

{% endblock %}

{% block content %}
	
    <div class="span9">
        
        {% if productfilter is defined %}

        <div class="pull-right">
            <strong>Sorteren</strong> <br />
            <select name="sortby" id="sortby">
                <option {% if productfilter.sortby == 'NEWEST_FIRST' %} selected="selected" {% endif %} value="NEWEST_FIRST">Nieuwste eerst</option>
                <option {% if productfilter.sortby == 'PRICE_HIGH_LOW' %} selected="selected" {% endif %} value="PRICE_HIGH_LOW">Prijs: Hoog - Laag</option>
                <option {% if productfilter.sortby == 'PRICE_LOW_HIGH' %} selected="selected" {% endif %} value="PRICE_LOW_HIGH">Prijs: Laag - Hoog</option>
                <option {% if productfilter.sortby == 'NAME_A_Z' %} selected="selected" {% endif %} value="NAME_A_Z">A - Z</option>
                <option {% if productfilter.sortby == 'NAME_Z_A' %} selected="selected" {% endif %} value="NAME_Z_A">Z - A</option>
            </select>
        </div>

        <div class="pull-right">
            <strong>Aantal per pagina</strong> <br />
            <select name="max_results" id="max_results">
                <option {% if productfilter.maxResults == '15' %} selected="selected" {% endif %} value="15">15 producten</option>
                <option {% if productfilter.maxResults == '30' %} selected="selected" {% endif %} value="30">30 producten</option>
                <option {% if productfilter.maxResults == '60' %} selected="selected" {% endif %} value="60">60 producten</option>
                <option {% if productfilter.maxResults == '120' %} selected="selected" {% endif %} value="120">120 producten</option>
                <option {% if productfilter.maxResults == '99999' %} selected="selected" {% endif %} value="99999">Alle</option>
            </select>
        </div>
        
        {% endif %}
        
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumb">
            <a href="{{ url('_root') }}" itemprop="url" title="Addictedtovintage">
                <span itemprop="title">Addictedtovintage</span>
            </a> &rsaquo;

            <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ url('_sale') }}" itemprop="url" title="Sale">
                    <span itemprop="title">Sale</span>
                </a> 
            </div>
        </div>
        
        <h1 class="subcategory_heading">Sale</h1>
        
        {% if productfilter.attributes|length > 0 %}
        
            Filter: 
            <ul>
                {% for attribute in productfilter.attributes %}
                    <li>{{ attribute['attribute'].name }} : {{ attribute['value'] }}</li>
                {% endfor %}
            </ul>
        
        {% endif %}
            
        

        <div class="row-fluid">

            <ul class="category_products unstyled span12">
                
                {% set x = 1 %}
                
                {% for product in products %}
                
                    <li class="span4">
                        {% include 'AVBundle:Search:product.html.twig' with {'product': product} %}
                    </li>
                    
                    {% if x == 3 %} 
                    
                        {% set x = 0 %}
                    
                        </ul>
                        </div>
                        <div class="row-fluid">
                            <ul class="category_products unstyled span12">
                    
                    {% endif %}
                    
                    {% set x = x + 1 %}
                    
                {% endfor %}
            </ul>

        </div>
        
        {% spaceless %}
        <div class="pagination pagination-small">
            <ul>
                                
                {% set i = 2 %}
                {% if paginator.currentpage != 1 %}
                    <li> <a class="previous" href="{{  path('_sale', {  'page': paginator.currentpage-1 }) }}">Vorige</a>
                {% endif %}
                            
                {% set i = 1 %}
                    
                {% if paginator.numpages > 0 %}
                    {% if i==paginator.currentpage %}
                        {% if i != 1 %}
                        <li><a class="active" href="{{ path('_sale', {  'page': i })}}">{% if i == paginator.numpages %}{{ paginator.numpages }}{% else %}{{i}}{% endif %}</a></li>
                        {% endif %}
                    {% else %}
                        {% if i != 1 %}
                        <li><a href="{{  path('_sale', {  'page': i }) }}">{% if i == 1 %}1{% elseif i == paginator.numpages %}{{ paginator.numpages }}{% else %}{{i}}{% endif %}</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
                            
                            
                {% for i in i..paginator.numpages %}
                        {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                            <li class="disabled"><a href="javascript:void(0)">...</a></li>
                        {% endif %}

                        {% if i < paginator.numpages and (i in paginator.range) %}
                            {% if i==paginator.currentpage %}
                            <li><a class="active" href="{{  path('_sale', {  'page': i })}}">{% if i == 1 %}1{% elseif i == paginator.numpages %}{{ paginator.numpages }}{% else %}{{i}}{% endif %}</a></li>
                            {% else %}
                            <li><a href="{{  path('_sale', {  'page': i }) }}">{% if i == 1 %}1{% elseif i == paginator.numpages %}{{ paginator.numpages }}{% else %}{{i}}{% endif %}</a></li>
                            {% endif %}
                        {% endif %}

                        {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                            <li class="disabled"><a href="javascript:void(0)">...</a></li>
                        {% endif %}
                {% endfor %}
                {% if paginator.numpages > 1 %}
                    <li><a{% if paginator.numpages==paginator.currentpage %} class="active"{% endif %} href="{{  path('_sale', {  'page': paginator.numpages }) }}">{{ paginator.numpages }}</a></li>
                {% endif %}
                                
                {% if paginator.currentpage != paginator.numpages %}
                    <li> <a class="next" href="{{  path('_sale', {  'page': paginator.currentpage+1 }) }}">Volgende</a>
                {% endif %}
            </ul>
        </div>
        {% endspaceless %}

    </div>
    

{% endblock %}