{% extends 'SGBundle::layout.html.twig' %}

{% block content %}

        
    <div class="span9">
        
        <h1>Winkelmandje</h1>
        
        {% if cart is null %}
            <p>Het winkelmandje is (nog) leeg!</p>        
        {% else %}
            
            <div class="checkout-well">

            {% set total = cart.totalPriceInc + cart.shipping.costs %}

            <a href="{{ path('_checkout') }}" class="btn btn-primary btn-large pull-right">Bestelling afronden <i class="icon-white icon-chevron-right"></i></a>

            <br />

            <p>Totaalbedrag van je winkelmandje is <strong> &euro; {{ total|number_format(2, ',', '.') }} </strong></p>

            <hr />

            <table width="100%" cellpadding="2" cellspacing="1" class="table table-striped cart">

                <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="10%"></th>
                        <th width="30%">Product</th>
                        <th width="20%">Prijs</th>
                        <th width="20%" align="right">Totaal</th>
                    </tr>
                </thead>

                <tbody>

                {% for item in cart.products %}

                {% set productTotal = item.amount * item.price %}
                {% set product = item.product %}
                    <tr>
                        <td><a class="remove btn" href="javascript:void(0)" rel="tooltip" title="Product verwijderen" onclick="javascript:remove_from_cart({{ item.product.id }})" title="Verwijderen"><i class="icon-trash"></i></a></td>
                        {% if product.firstImage is not null %}
                        <td><img style="width: 75px; border: 1px solid #ddd;" src="{{ product.firstImage.thumbpath }}" alt="{{ item.product.name }}" title="{{ item.product.name }}" /></td>
                        {% else %}
                        <td><img style="width: 75px; border: 1px solid #ddd;" src="{{ product.images[0].thumbpath }}" alt="{{ item.product.name }}" title="{{ item.product.name }}" /></td>
                        {% endif %}
                        <td><a href="#" class="product">{{ item.product.name }}</a> <br /> <small>{{ item.product.description|slice(0, 80) }}...</small></td>
                        <td>{{ item.amount }} x &euro; {{ item.price|number_format(2, ',', '.') }}</td>
                        <td align="right">&euro; {{ productTotal|number_format(2, ',', '.') }}</td>
                    </tr>

                {% endfor %}

                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <h3>Kortingcodes</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            
                            {% if coupon is not null %}
                            
                            <a href="javascript:void(0)" onclick="javascript:clear_coupon()" class="btn btn-small pull-right">Verwijder kortingscode</a>                            
                            
                            <p>Geactiveerde kortingscode: <strong>{{ coupon.code }}</strong> <br />
                            Korting: <strong>{{ coupon.discount }}{% if coupon.discountType == 1 %}%{% else %} euro{% endif %}</strong> </p>
                            
                            {% else %}
                            
                                <small>Voer hier eventueel je kortingscode in om korting te krijgen op je bestelling</small>

                                <form action="javascript:add_coupon()" class="form-horizontal" method="POST">
                                    <input placeholder="Vul hier uw kortingscode in..." name="coupon_code" id="coupon_code" type="input-large" />
                                    <a href="javascript:void(0)" onclick="javascript:add_coupon()" class="btn btn-small"><i class="icon icon-gift"></i> Activeer kortingscode</a>
                                </form> 

                            {% endif %}

                        </td>
                        <td>- &euro; <span id="total_discount">{{ discount }}</span></td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <h3>Bezorging</h3>
                            <p><small>In de volgende stap kun je de gewenste leverdatum kiezen.</small></p>
                        </td>
                    </tr>

                    {% for shipping in shippings %}

                        <tr>
                            <td colspan="4"><label for="{{ shipping.id }}">{{ shipping.description }}</label></td>
                            <td>&euro; {{ shipping.costs|number_format(2, ',', '.') }}</td>
                        </tr>

                    {% endfor %}

                    <tr>
                        <td colspan="5">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">Totaalbedrag artikelen:</td>
                        <td>&euro; <span id="cart_products_total">{{ cart.totalPriceInc|number_format(2, ',', '.') }}</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">Totaalbedrag verzend/verwerkingskosten:</td>
                        <td>&euro; <span id="cart_shipping_total">{{ cart.shipping.costs|number_format(2, ',', '.') }}</span></td>
                    </tr>

                    {% set total = cart.totalPriceInc + cart.shipping.costs %}

                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2"><h4>Totaalbedrag:</h4></td>
                        <td><h4>&euro; <span id="cart_total">{{ total|number_format(2, ',', '.') }}</span></h4></td>
                    </tr>
                </tbody>

            </table>

            <hr />

            <a href="{{ path('_checkout') }}" class="btn btn-primary btn-large pull-right">Bestelling afronden <i class="icon-white icon-chevron-right"></i></a>
            
            <div class="clearfix"></div>
            
            </div>
            
        {% endif %}
            
    </div>
{% endblock %}


{% block sidebar %}
    {{ parent() }}
{% endblock%}