<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">

	<table width="650" align="center" style="font-size:14px" cellpadding="0" cellspacing="0" bgcolor="#ffffff">

		<tbody>
			<tr>
				<td height="10" width="10" background="{{ url('_root') }}email/shadow_tl.gif" bgcolor="#ffffff"></td>
				<td height="10" background="{{ url('_root') }}email/shadow_top.gif" bgcolor="#ffffff"> </td>
				<td height="10" width="10" background="{{ url('_root') }}email/shadow_tr.gif" bgcolor="#ffffff"> </td>
			</tr>

			<tr>
				<td width="10" background="{{ url('_root') }}email/shadow_left.gif" bgcolor="#ffffff"></td>
				<td height="102" bgcolor="#ffffff" align="center">

					<table width="95%">
						<tbody>
							<tr>
								<td align="left">
									<img src="{{ url('_root') }}bundles/biologischekaas/img/logo2.png" />
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td width="10" background="{{ url('_root') }}email/shadow_right.gif" bgcolor="#ffffff"> </td>
			</tr>

				
			<tr>
                <td width="10" background="{{ url('_root') }}email/shadow_left.gif" bgcolor="#ffffff"></td>
                <td bgcolor="#ffffff" align="center">
					<table width="95%" cellpadding="10">
						<tbody>
							<tr>
								<td align="left">
									<font face="Arial" color="#666">