<form action="" class="form-horizontal client-form" name="productform" method="post" {{ form_enctype(products_form) }}>

    {{ form_errors(products_form) }}
    
    <fieldset class="control-group">
        {{ form_label(products_form.name, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.name) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.sku, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.sku) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.price, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.price) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        <label for="first_image" class="control-label required">Eerste afbeelding</label>
            <div class="controls">
                <select name="first_image">
                    
                    <option value="0">Selecteer een foto</option>
                    
                    {% for image in product.images %}
                        {% if product.firstImage is not null %}
                            {% if product.firstImage.id == image.id %}
                                <option selected="selected" value="{{ image.id }}">{{ image.name }}</option>
                            {% else %}
                                <option value="{{ image.id }}">{{ image.name }}</option>
                            {% endif %}
                        {% else %}    
                            <option value="{{ image.id }}">{{ image.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.shippingType, '', { 'label_attr': {'class': 'control-label'} }) }}
        <div class="controls">
            {{ form_widget(products_form.shippingType) }}
        </div>
    </fieldset>
    
    {#
    <fieldset class="control-group">
        {{ form_label(products_form.weight, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.weight) }}
            </div>
    </fieldset>

    {# 
    <fieldset class="control-group">
        {{ form_label(products_form.salePrice, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.salePrice) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.permalink, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.permalink) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.keywords, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.keywords) }}
            </div>
    </fieldset>
    #}
    <fieldset class="control-group">
        {{ form_label(products_form.active, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.active) }}
            </div>
    </fieldset>
    
    
    <fieldset class="control-group">
        {{ form_label(products_form.description, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.description, { 'attr': {'class': 'input-xxlarge', 'rows' : '4'} }) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.stock, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.stock) }}
            </div>
    </fieldset>
            
    <fieldset class="control-group">
        {{ form_label(products_form.isSale, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.isSale) }}
            </div>
    </fieldset>
    
    <fieldset class="control-group">
        {{ form_label(products_form.isNew, '', { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(products_form.isNew) }}
            </div>
    </fieldset>
    
    


 <h3>Subcategori&euml;en</h3>    
        
<hr />

<div class="product-subcategories">

{% for child in products_form.subcategories %}
    <span>
        {{ form_widget(child) }}
        {{ form_label(child) }}
    </span>
{% endfor %}    

<div class="clearfix"></div>

</div>

{{ form_rest(products_form) }}

<input type="submit" class="hide" value="Opslaan" />

</form>
