{% extends 'AdminBundle00::layout.html.twig' %}

{% block content %}

{% if app.session.hasFlash('notice') %}
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Let op</h4>
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

<style type="text/css" title="currentStyle">
        @import "/bundles/admin/css/demo_table.css";
</style>
    <div class="row-fluid">
        <div class="span12">

            <a href="{{ path('admin_products_edit', { 'id' : '0' }) }}" class="btn-large btn btn-primary pull-right">Product toevoegen</a>
            
            <h1>Producten</h1>
            
            <hr />

            <div class="row-fluid">
                <div class="span12">
                    <form method="GET" action="{{ path('admin_products') }}" class="form form-inline" style="margin: 0px;">
                        
                        <label class="inline"> 
                            <select name="stock">
                                <option {% if selected_stock == '0' %} selected="selected" {% endif %} value="0">Voorraad:</option>
                                <option {% if selected_stock == '1' %} selected="selected" {% endif %} value="1">Niet op voorraad</option>
                                <option {% if selected_stock == '2' %} selected="selected" {% endif %} value="2">Wel op voorraad</option>
                            </select>
                        </label>
                        
                        <label class="inline"> 
                            <select name="subcategory">
                                <option {% if selected_subcategory == '' %} selected="selected" {% endif %} value="0">Subcategorie:</option>
                                {% for category in categories %}
                                <optgroup label="{{ category.name }}">
                                    {% for subcategory in category.subcategories %}
                                    <option {% if selected_subcategory == subcategory.id %} selected="selected" {% endif %} value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </label>
                        
                        <label class="inline checkbox">
                            <input type="checkbox" name="is_sale" value="1" {% if selected_sale == '1' %} checked="checked" {% endif %} />Sale
                        </label>
                        
                        <input type="submit" class="btn" value="Filteren" />
                    </form>
                </div>
            </div>

            <hr />

            <div class="row-fluid">
                <div class="span12">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="orders">
                        <thead>
                            <tr>
                                <th width="10%">SKU</th>
                                <th width="25%">Naam</th>
                                <th width="15%">Prijs</th>
                                <th width="15%">Voorraad</th>
                                <th width="20%">Verzendwijze</th>
                                <th width="20%">Aangemaakt op</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>


{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script type="text/javascript">

    $(document).ready(function() {
        
            var data_table = $('#orders').dataTable( {
                    "bProcessing": true,
                    "sAjaxSource": '{{ path('admin_json_products') }}?{{ query_string|raw }}',
                    "bStateSave": true,
                    "aaSorting": [[ 4, "desc" ]],
                    "fnDrawCallback ": function(oSettings, json) {
                        $('a.popover_link').popover();
                    },
                    "fnInitComplete": function(oSettings, json) {
                        $('a.popover_link').popover();
                    },
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    "oLanguage": {
                        "sProcessing": "Bezig...",
                        "sLengthMenu": "_MENU_ resultaten weergeven",
                        "sZeroRecords": "Geen resultaten gevonden",
                        "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                        "sInfoEmpty": "Geen resultaten om weer te geven",
                        "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                        "sInfoPostFix": "",
                        "sSearch": "Zoeken:",
                        "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                        "sInfoThousands": ".",
                        "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                        "oPaginate": {
                            "sFirst": "Eerste",
                            "sLast": "Laatste",
                            "sNext": "Volgende",
                            "sPrevious": "Vorige"
                        }
                    }
            } );
            
            $('a.popover_link').popover();
    } );

        </script>

{% endblock %}
