{% extends 'AddictedtovintageBundle::layout.html.twig' %}

{% block sidebar %}

{% endblock%}

{% block content %}


<div class="row-fluid">
    <div class="span3">
        <h1>Afrekenen</h1>
    </div>
    <div class="span9">
        <ul class="unstyled checkout_steps">
            <li class="checked">Persoonlijke gegevens <i class="icon-check"></i></li>
            <li class="active">Bezorgwijze <i class="icon-arrow-right"></i></li>
            <li>Betaalmethode <i class="icon-arrow-right"></i></li>
            <li>Bestelling plaatsen <i class="icon-arrow-right"></i></li>
        </ul>
    </div>    
</div>

<hr />

<form name="checkout_form" id="checkout_form" action="{{ path('_cart_paymethod') }}" method="POST" class="form-horizontal">

    <div class="row-fluid">    
        <div class="span6">
            <div class="checkout-well">

                <h3><i class="icon-truck"></i> Afleveradres</h3>
                <p>Vul hieronder in waar we je bestelling naar toe moeten suren</p>

                <hr />

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="client_name">Naam:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="client_name" id="client_name" value="{{ client.name }}" />
                        </div>
                    </div>
                    <div class="form-inline">

                        <label class="control-label" for="client_zipcode">Postcode + huisnummer:</label>

                        <div class="controls">
                            <input type="text" class="input-small" name="client_zipcode" id="client_zipcode" value="{{ client.zipcode }}" />
                            <input type="text" class="input-small" name="client_housenumber" id="client_housenumber" value="{{ client.housenumber }}" />
                        </div>

                    </div>    

                    <br />

                    <div class="control-group">
                        <label class="control-label" for="client_address">Adres:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="client_address" id="client_address" value="{{ client.address }}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="name">Woonplaats:</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" name="client_location" id="client_location" value="{{ client.location }}" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="client_country">Land:</label>
                        <div class="controls">
                            <select class="input-xlarge" name="client_country" id="client_country">
                                <option {% if client.country == 'Nederland'%} selected="selected" {% endif %} value="Nederland">Nederland</option>
                                <option {% if client.country == 'Belgie'%} selected="selected" {% endif %} value="Belgie">Belgi&euml;</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                
                <div class="clearfix"></div>
                
            </div>
        </div>

        <div class="span6">
            
            <div class="checkout-well">

                <h3><i class="icon-truck"></i> Bezorgwijze</h3>
                <p>Vul hieronder in waar we je bestelling naar toe moeten suren</p>

                <hr />

                <span class="pull-right shipping_costs">&euro; {{ cart.shipping.costs }}</span>

                <img src="{{ asset('/bundles/ecommerce/img/shipping/' ~ cart.shipping.id ~ '.jpg')  }}" class="shipping_logo" /> 

                <h5>{{ cart.shipping.name }}</h5>
                <p>{{ cart.shipping.description }}</p>

                <div class="clearfix"></div>

                <hr />

                <h3><i class="icon-calendar"></i> Bezorgdatum</h3>
                <p>Op welke datum wil je je bestelling ontvangen?</p>

                <hr />

                <ul class="unstyled">
                    <li>
                        <label class="checkbox">
                            <input type="radio" name="select_shipping_date[]" checked="checked" /> Zo snel mogelijk <strong>{{ next_delivery_date|date('D')|DayConvert }} ({{ next_delivery_date|date('d-m-Y') }})</strong>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox">
                            <input type="radio" name="select_shipping_date[]" /> Anders, namelijk: 
                        </label>
                        <select style="margin-left: 40px;" onchange="javascript:set_shipping_date()" name="shipping_date_select">
                            <option value="{{ next_delivery_date|date('d-m-Y')}}">Kies een datum</option>

                            {% for day in next_delivery_date_range %}
                                <option value="{{ day|date('d-m-Y') }}">{{ day|date('D')|DayConvert }} ({{ day|date('d-m-Y') }})</option>
                            {% endfor %}

                        </select>

                    </li>
                </ul>
                
                <input type="hidden" name="shipping_date" value="{{ next_delivery_date|date('d-m-Y')}}" />
                
            </div>
        </div>
    </div>
        
    <hr />
    
    <div class="row-fluid">
        <div class="span12">
            <a href="javascript:void(0)" onclick="javascript:document.checkout_form.submit();" class="btn pull-right btn-large btn-primary">Door naar stap 3 <i class="icon-arrow-right"></i></a>
        </div>
    </div>

</form>    

{% endblock %}