<span class="sale-btn">
    <a href="{{ path('_sale') }}">Sale</a>
</span>
<ul class="unstyled main-menu">

   <li><a href="{{ path('_root') }}"><i class="icon-home"></i></a></li> 

    {% for section in sections %}

        <li>
            <a href="{{ path('_section', { 'section': section.permalink }) }}">{{ section.name }}</a>

            <div class="sub-menu sub-menu-{{ section.permalink }}">
                <div class="sub-menu-content">
                    
                    {% for category in section.categories %}
                    
                        {% if category.active %}
                    
                        <ul>
                            <li>
                                
                            <h4><a href="{{ path('_category', { 'section' : section.permalink, 'category' : category.permalink } ) }}">{{ category.name }}</a></h4>

                            <ul>
                            {% for subcategory in category.subcategories %}
                                
                                {% if subcategory.active and subcategory.productCount > 0%}
                                <li>
                                    <span class="subcategory_product_count">({{ subcategory.productCount }})</span>
                                    <a href="{{ path('_subcategory',  { 'section' : section.permalink, 'category' : category.permalink, 'subcategory' : subcategory.permalink  }) }}">{{ subcategory.name }}</a>
                                </li>
                                {% endif %}
                                
                            {% endfor %}
                            </ul>

                            </li>
                        </ul>
                    
                        {% endif %}
                    
                    {% endfor %}
                </div>
            </div>
        </li>

    {% endfor %}
        
    <li class="menu-cart pull-right">
        {% include 'EcommerceBundle:Cart:small-cart.html.twig' %}
    </li>    
    
    
        
</ul>
    


{#
<ul class="unstyled main-menu">

    <li><a href="{{ path('_root') }}"><i class="icon-home"></i></a></li> 
    <li class="divider-vertical">&nbsp;</li>

    {% for section in sections %}
        <li><a href="{{ path('_section', { 'section': section.permalink }) }}">{{ section.name }}</a></li>
        <li class="divider-vertical">&nbsp;</li>
    {% endfor %}

    <li class="sale"><a href="{{ path('_sale') }}">Sale!</a></li>    
</ul>
#}