{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<style type="text/css" title="currentStyle">
        @import "/bundles/admin/css/demo_table.css";
</style>

<div class="row-fluid">

    <div class="span12">

        <h1>Bestellingen</h1>
        
        <hr />
        
        <div class="row-fluid">
            <div class="span12">
                <form method="GET" action="{{ path('admin_orders') }}" class="form form-inline" style="margin: 0px;">
                    <select name="status">
                        <option {% if selected_status == '0' %} selected="selected" {% endif %} value="0">Alle bestellingen</option>
                        <option {% if selected_status == '1' %} selected="selected" {% endif %} value="1">Niet betaalde bestellingen</option>
                        <option {% if selected_status == '2' %} selected="selected" {% endif %} value="2">Betaalde bestellingen</option>
                        <option {% if selected_status == '3' %} selected="selected" {% endif %} value="3">Afgeronde bestellingen</option>
                        <option {% if selected_status == '4' %} selected="selected" {% endif %} value="4">Geannuleerde bestellingen</option>
                    </select>
                    <select name="paymethod">
                        <option value="0">Alle betaalwzijzen</option>
                        {% for paymethod in paymethods %}
                        <option value="{{ paymethod.id }}" {% if selected_paymethod == paymethod.id %} selected="selected" {% endif %}>{{ paymethod.title }}</option>
                        {% endfor %}
                    </select>
                    <select name="shipping">
                        <option value="0">Alle verzendwzijzen</option>
                        {% for shipping in shippings %}
                            <option value="{{ shipping.id }}" {% if selected_shipping == shipping.id %} selected="selected" {% endif %}>{{ shipping.name }}</option>
                        {% endfor %}
                    </select>
                        
                    <input type="submit" class="btn" value="Filteren" />
                </form>
            </div>
        </div>
        
        <hr />

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="orders">
            <thead>
                <tr>
                    <th width="10%">Ordernummer</th>
                    <th width="25%">Klant</th>
                    <th width="25%">Producten</th>
                    <th width="5%">Totaalprijs</th>
                    <th width="15%">Status</th>
                    <th width="25%">Geplaatst op</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

</div>


{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script type="text/javascript">

    $(document).ready(function() {
            $('#orders').dataTable( {
                    "bProcessing": true,
                    "bStateSave": true,
                    "aaSorting": [[ 5, "desc" ]],
                    "sAjaxSource": '{{ path('admin_json_orders') }}?{{ query_string|raw }}',
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    "oLanguage": {
                        "sProcessing": "Bezig...",
                        "sLengthMenu": "_MENU_ resultaten weergeven",
                        "sZeroRecords": "Geen resultaten gevonden",
                        "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                        "sInfoEmpty": "Geen resultaten om weer te geven",
                        "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                        "sInfoPostFix": "",
                        "sSearch": "Zoeken:",
                        "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                        "sInfoThousands": ".",
                        "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                        "oPaginate": {
                            "sFirst": "Eerste",
                            "sLast": "Laatste",
                            "sNext": "Volgende",
                            "sPrevious": "Vorige"
                        }
                    }
            } );
    } );

    </script>

{% endblock %}
    